In [18]:
# Import the required library
import pandas as pd

In [19]:
""" Create an method to read the csv file with the cleaning process
    fp : File path
"""
def read_dataFile(fp):
    # Read the file 
    file = open(fp,"r", encoding ="utf-8" )
    # Get read each of line in the csv file
    lines = file.readlines()
    # Get the first line to seperate each name in columns 
    first_line = lines.pop(0)
    # Clean the empty space by strip(); And replace the "" on column names and seperate names by ";"
    col_names = first_line.strip().replace('"', '').split(';')
    # Deal with the left lines
    data = []
    # Iterate each line to process the data which is only seperate by the ";"
    for line in lines:
        tmp_l = line.strip().split(';') # tmp_l is temperal line
        data.append(tmp_l)
    # Form a data frame for future processing
    df = pd.DataFrame(data, columns=col_names)
    print(df.head())
    return df

In [20]:
# method to deal with current data frame
read_dataFile("winequality-red-4.csv")

  fixed acidity volatile acidity citric acid residual sugar chlorides  \
0           7.4              0.7           0            1.9     0.076
1           7.8             0.88           0            2.6     0.098
2           7.8             0.76        0.04            2.3     0.092
3          11.2             0.28        0.56            1.9     0.075
4           7.4              0.7           0            1.9     0.076

  free sulfur dioxide total sulfur dioxide density    pH sulphates alcohol  \
0                  11                   34  0.9978  3.51      0.56     9.4
1                  25                   67  0.9968   3.2      0.68     9.8
2                  15                   54   0.997  3.26      0.65     9.8
3                  17                   60   0.998  3.16      0.58     9.8
4                  11                   34  0.9978  3.51      0.56     9.4

  quality
0       5
1       5
2       5
3       6
4       5

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6
4,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.6,0.08,2,0.09,32,44,0.9949,3.45,0.58,10.5,5
1595,5.9,0.55,0.1,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1596,6.3,0.51,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11,6
1597,5.9,0.645,0.12,2,0.075,32,44,0.99547,3.57,0.71,10.2,5
1598,6,0.31,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11,6